[credential]
	helper = /usr/lib/git-core/git-credential-libsecret
[user]
	email = esauvisky@gmail.com
	name = Emiliano Sauvisky
	signingKey = 4D3148580F63AE23
[push]
	default = current
[core]
	filemode = false
	excludesfile = /home/esauvisky/.gitignore-global
	autocrlf = input
	editor = open-subl3 -w
