[credential]
	helper = /usr/lib/git-core/git-credential-libsecret
[user]
	email = esauvisky@gmail.com
	name = emi~
	signingKey = 4D3148580F63AE23
[push]
	default = current
[core]
	filemode = false
	excludesfile = /home/esauvisky/.gitignore-global
	autocrlf = input
	editor = open-subl3 -w
[alias]
	all = "!f() { find -mindepth 1 -maxdepth 3 -name .git -type d | xargs -I{} bash -c \"echo -e \\\"\\E[1m\\E[34m\\n\\n----- Working with \\\"{}\\\"\\E[0m\\\"; git -C \\\"{}/../\\\" ${*}\"; }; f"
[commit]
	gpgsign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = true
