[user]
	email = esauvisky@gmail.com
	name = emi~
	# signingkey = 48BB2CE13A282092
	signingKey = FEF4818C534D5986
[push]
	default = current
[core]
	fileMode = true
	excludesfile = /home/emi/.gitignore-global
	autocrlf = input
	editor = subl -n -w
[alias]
	all = "!f() { find -mindepth 1 -maxdepth 3 -name .git -type d | xargs -I{} bash -c \"echo -e \\\"\\E[1m\\E[34m\\n\\n----- Working with \\\"{}\\\"\\E[0m\\\"; git -C \\\"{}/../\\\" ${*}\"; }; f"
	stashu = "!git stash push -S; git stash; git stash pop --index stash@{1}"
[commit]
	gpgsign = true
[pull]
	rebase = true
[diff]
	colorMoved = zebra
    guitool = meld
[credential]
	helper = /usr/lib/git-core/git-credential-libsecret
[difftool "meld"]
    cmd = meld \"$LOCAL\" \"$REMOTE\" --label \"DIFF (ORIGINAL MY)\"
