[Unit]
Description=COOLmeDOWN
After=network.target

[Service]
ExecStart=/usr/bin/COOLmeDOWN
Restart=always
RestartSec=5s

[Install]
WantedBy=default.target